@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
  --font-secundaria: "Lora", serif;
  --font-principal: "Cinzel Decorative", serif;
  --font-normal: "Raleway", sans-serif;

  --cor-fundo: #cfc5c5;
  --cor-principal: #221915;
  --cor-destaque: #bb801b;
  --cor-de-rosa: #fab26a;
  --color-accent: #E2C091;
}

body{
    background-color: var(--cor-fundo);
    font-size: 1rem;
    font-family: var(--font-normal);
}

.cabecalho{
  width: 100%;
}

.cabecalhoAmber{
  font-family: var(--font-principal);
  font-size: 2rem;
  margin: 20px auto 5px 10%;
  color: var(--cor-principal);
}

.cabecalhoSlogan{
  font-family: var(--font-principal);
  color: var(--cor-principal);
  font-size: 0.8rem;
  margin-left: 10%;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px 5%;
  max-width: 80%;
  background: #fff;
  padding: 8px 6px;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

/* input */
.search-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 6px 8px;
  font-size: 0.8rem;
  font-family: var(--font-principal);
  border-radius: 50px;
  background: transparent;
}

/* botão */
.search-container button {
  border: none;
  background: transparent;
  color: var(--cor-principal);
  font-size: 1rem;
  padding: 6px 8px;
  border-radius: 50%;
  font-family: var(--font-secundaria);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

/* foco no input */
.search-container:focus-within {
  box-shadow: 0 6px 18px var(--cor-principal)(74, 111, 165, 0.4);
}

.apresentacaoConteiner{
  margin: 5px;
  width: 100vw;
  justify-content: center;
}

.separadorDeApresentacao{
  display: flex;
  justify-content: center;
}

.apresentacaoPerfume{
  margin: 5px 2%;
  padding: 10px;
  width: 100%;
  align-items: center;
}

.perfumeDmonstradoImagem{
  width: 100%;
  align-items: center;
  border-radius: 10%;
}

.perfumesComprarDetaque{
  justify-content: space-between;
  display: flex;
  margin: 10%;
}

.perfumesComprarDetaquemls{
  font-size: 1.2rem;
  font-family: var(--font-normal);
  margin: 0;
}

.preco{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5),
}







.catalogoTitulo{
  font-size: 2rem;
  font-family: var(--font-principal);
  margin: 0 10% 10px;
}

.catTitulos{
  display: flex;
  transition: border-color 0.3s ease;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  justify-content: center;
}

.catalogoEscolhaSexo{
  font-family: var(--font-secundaria);
  font-size: 1rem;
  margin: 5px 10%;
}

.catalogoSexoIndividual{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--cor-principal);
  font-family: var(--font-normal);
  margin: 0 0 20px 0;
}

.ativadoSexoPerfume{
  font-weight: 700;
}

.nomeIndividual{
  margin: 10px;
  font-size: 1rem;

}

.imgIndividual{
  width: 45%;
  border-radius: 12%;
  border: solid 2px var(--cor-destaque);
}

.individual100ml{
  margin: 5px;
  font-size: 0,8rem;
}

.individualPreco{
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.catalogoFemiOpcoes{
  margin: 30px 0 15px 0;
}

.opcoesDiv{
  display: flex;
  justify-content: space-between;
  margin: 5px 10%;
  color: var(--cor-destaque);
  font-size: 1rem;
}

.perfumesOpcoesEscolha{
  background-color: var(--cor-principal);
  padding: 5px;
  border-radius: 25px;
  padding: 5px 10px;
  font-family: var(--font-secundaria);
}

.individualPagar{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5),
}







.rodape{
  background-color: var(--cor-principal);
  color: var(--cor-destaque);
  padding: 5% 10%;
  font-family: var(--font-normal);
  font-size: 1,2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rodapeElegante{
  display: flex;
  justify-content: space-between;
}

.rodTexto{
  margin: 10px 15px;
  color: #E2C091;
}

.hide{
  display: none;
}